.title {
	display: grid;
	grid-template-columns: auto 1fr auto;
	gap: 20px;
	align-items: baseline;
	justify-items: left;
}

.hhTitle {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 20px;
	align-items: baseline;
	justify-items: left;
}

.text h1 {
	margin: 0;
	font-size: 26px;
	font-weight: 500;
	line-height: 35px;
}

.text h2 {
	margin: 50px 0 20px;
	font-size: 22px;
	font-weight: 500;
	line-height: 30px;
}

.text h3 {
	margin: 0;
	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
}

.text p {
	text-indent: 40px;
}

.text li:not(:last-child) {
	margin-bottom: 15px;
}
