.firstLevel {
	display: grid;
	grid-template-columns: 24px 1fr;
	gap: 20px 15px;
	align-items: center;
	margin-top: 20px;
	font-size: 18px;
	font-weight: 500;
	line-height: 25px;
}

.firstLevelActive,
.firstLevel:hover {
	color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
	fill: var(--primary);
}

.secondLevel {
	margin-bottom: 10px;
	font-size: 12px;
	font-weight: 300;
	color: var(--gray-dark);
	text-transform: uppercase;
	cursor: pointer;
	outline-offset: -1px;
}

.secondBlock {
	padding-left: 32px;
	margin-top: 15px;
	margin-left: 12px;
	border-left: 1px solid #DFDFDF;
}

.secondLevelBlock {
	overflow: hidden;
}

.thirdLevel {
	display: block;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 500;
	color: var(--gray-dark);
	cursor: pointer;
	outline-offset: -1px;
}

.thirdLevel:hover,
.thirdLevelActive {
	color: var(--primary);
}
