.wrapper {
	display: flex;
	column-gap: 40px;
}

.icon {
	display: none;
	margin-right: 8px;
}

.active {
	color: var(--primary);
}

.active .icon {
	display: inline-block;
}

.type {
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
	cursor: pointer;
}
