.item {
	padding: 7px 12px;
	font-family: var(--font-family);
	font-size: 16px;
	line-height: 22px;
	color: var(--black);
	background-color: var(--white);
	border: none;
	border-radius: 5px;
	outline-color: var(--primary);
	box-shadow: 0 4px 4px rgb(0 0 0 / 5%);
}

.item::placeholder {
	color: var(--gray);
}

.error {
	border: 1px solid var(--red);
}

.inputWrapper {
	position: relative;
}

.errorMessage {
	position: absolute;
	bottom: -20px;
	left: 0;
	color: var(--red);
}
