.wrapper {
	display: grid;
	grid-template-columns: [start] auto 1fr auto [end];
	gap: 20px 30px;
	align-items: center;
	font-size: 14px;
	line-height: 24px;
}

.description,
.submit {
	grid-column: start / end;
}

.title {
	justify-self: left;
}

.info {
	margin-left: 15px;
}

.rating {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 20px;
}

.success {
	position: relative;
	padding: 20px;
	margin-top: 20px;
	background-color: var(--green-light);
	border-radius: 5px;
}

.successTitle {
	font-weight: 700;
}

.close {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.error {
	position: relative;
	padding: 20px;
	margin-top: 20px;
	background-color: #FEA291;
	border-radius: 5px;
}

.error .close path {
	stroke: red;
}

@media screen and (max-width: 1140px) {
	.wrapper {
		grid-template-columns: [start] 1fr 1fr [end];
	}

	.rating {
		grid-column: start / end;
	}

	.title {
		justify-self: normal;
	}
}

@media screen and (max-width: 640px) {
	.wrapper {
		grid-template-columns: [start] 1fr [end];
	}
}
